In [10]:
import yfinance as yf
import pandas as pd
import pickle
from datetime import datetime, timedelta

# Define the ticker symbol
ticker_symbol = "DUOL"

# Create a Ticker object
ticker = yf.Ticker(ticker_symbol)

# https://ranaroussi.github.io/yfinance/reference/api/yfinance.download.html#yfinance.download
# df = pd.DataFrame(ticker.history(period="max", interval="1m"))
iterations = 0
end = datetime.now()
histories = []
while iterations < 7:
    history = ticker.history(start = end - timedelta(days=4), end = end, interval="1m")
    histories.append(history)
    end = end - timedelta(days=4)
    iterations += 1

data = pd.concat(histories)
data
# data.sort_values("Datetime")
# data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-05-30 09:30:00-04:00,506.760010,506.760010,502.000000,504.029999,55312,0.0,0.0
2025-05-30 09:31:00-04:00,505.500000,509.579987,504.220001,505.730011,9344,0.0,0.0
2025-05-30 09:33:00-04:00,506.404999,510.730011,506.404999,510.559998,10057,0.0,0.0
2025-05-30 09:34:00-04:00,511.899994,511.899994,508.730011,508.734985,912,0.0,0.0
2025-05-30 09:35:00-04:00,509.019989,511.549988,507.179993,508.649994,4191,0.0,0.0
...,...,...,...,...,...,...,...
2025-05-09 15:55:00-04:00,511.709991,511.709991,510.809998,510.989990,3773,0.0,0.0
2025-05-09 15:56:00-04:00,510.989990,511.084991,510.799988,511.067505,6327,0.0,0.0
2025-05-09 15:57:00-04:00,510.750000,511.779999,510.709991,511.779999,10042,0.0,0.0
2025-05-09 15:58:00-04:00,511.589996,512.969971,511.589996,512.969971,9633,0.0,0.0
2025-05-09 15:59:00-04:00,513.265015,513.500000,512.734985,513.359985,24813,0.0,0.0

In [8]:
data = data.sort_index()

In [9]:
with open('DUOL.pkl', 'wb') as file:
    pickle.dump(data, file)

In [10]:
import pickle
with open('DUOL.pkl', 'rb') as file:
    data = pickle.load(file)

In [11]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-05-06 09:30:00-04:00,480.420013,482.510010,478.019989,479.005005,107318,0.0,0.0
2025-05-06 09:31:00-04:00,478.410004,480.299988,473.519989,480.299988,16397,0.0,0.0
2025-05-06 09:32:00-04:00,482.350006,484.940002,481.445007,482.714996,10170,0.0,0.0
2025-05-06 09:33:00-04:00,482.000000,487.000000,481.989990,484.387085,13089,0.0,0.0
2025-05-06 09:34:00-04:00,485.359985,489.049988,485.359985,485.529999,8733,0.0,0.0
...,...,...,...,...,...,...,...
2025-06-02 15:55:00-04:00,526.875000,526.875000,526.440002,526.440002,6442,0.0,0.0
2025-06-02 15:56:00-04:00,526.340027,526.429993,525.900024,526.044983,10906,0.0,0.0
2025-06-02 15:57:00-04:00,526.250000,526.700012,525.994995,526.700012,13985,0.0,0.0
2025-06-02 15:58:00-04:00,526.599976,527.000000,526.414978,526.960022,16546,0.0,0.0
2025-06-02 15:59:00-04:00,527.049988,527.739990,526.289978,526.390015,27555,0.0,0.0

In [12]:
data['Close'].values

array([479.00500488, 480.29998779, 482.71499634, ..., 526.70001221,
       526.96002197, 526.39001465], shape=(5348,))

In [14]:
data['Close'].sort_values()

Datetime
2025-05-06 10:03:00-04:00    476.500000
2025-05-06 10:00:00-04:00    477.029999
2025-05-06 09:36:00-04:00    477.500000
2025-05-06 10:01:00-04:00    477.779999
2025-05-06 09:51:00-04:00    477.809998
                                ...
2025-05-14 10:53:00-04:00    542.223022
2025-05-14 10:10:00-04:00    542.270020
2025-05-14 10:13:00-04:00    542.400024
2025-05-14 10:14:00-04:00    542.549988
2025-05-14 09:36:00-04:00    542.820007
Name: Close, Length: 5348, dtype: float64